@using System.Globalization
@using Dal.Entity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    List<Category> categories = ViewBag.Cats;
    SubPage page1 = ViewBag.Page;
    if (CultureInfo.CurrentCulture.Name == "fa")
    {
        ViewData["Title"] = @page1.SeoTitle;
    }
    else
    {
        ViewData["Title"] = @page1.SeoTitleEn;
    }
    LandingPage landingPage = ViewBag.Landing;
}

@section HeadNumber2
{
    <a href="tel:@landingPage.Number">
        <i class="ri-phone-fill"></i>@landingPage.Number
    </a
    >
}

@if (CultureInfo.CurrentCulture.Name == "fa")
{
    @section meta
    {
        <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"/>
        <meta name="description" content=@Html.Raw(page1.SeoTitle).ToString()/>
        <link rel="canonical" href=@Html.Raw(page1.SeoCanonical).ToString()/>
        <meta property="og:locale" content="fa_IR"/>
        <meta property="og:type" content="website"/>
        <meta property="og:title" content=@Html.Raw(page1.SeoTitle).ToString()/>
        <meta property="og:description" content=@Html.Raw(page1.SeoDesc).ToString()/>
        <meta property="og:url" content="https://parsme.com"/>
        <meta property="og:site_name" content=@Html.Raw(page1.SeoTitle).ToString()/>
        <meta property="og:image:width" content="1200"/>
        <meta property="og:image:height" content="760"/>
        <meta property="og:image:type" content="image/jpeg"/>
    } 
    @section DescCart
    {
        <p>
            @landingPage.DescCart
        </p>
    }

    @section Header
    {
        <ul class="site-menu-main">
            @{
                foreach (var i in categories)
                {
                    string id = "submenu-" + i.Id;
                    if (i.Pages.Count > 1)
                    {
                        <li class="nav-item nav-item-has-children">
                            <a
                                class="nav-link-item drop-trigger"
                                href="@i.Href">
                                @i.Title
                                <i class="ri-arrow-down-s-fill">
                                </i
                                >
                            </a>
                            <ul class="sub-menu" id="@id">

                                @foreach (var q in i.Pages)
                                {
                                    <li class="sub-menu--item">
                                        <a href="@q.Href">
                                            <span class="menu-item-text">
                                                @q.Title
                                            </span
                                            >
                                        </a>
                                    </li>
                                }
                            </ul>

                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link-item" href="@i.Href">@i.Title</a>
                        </li>
                    }
                }
            }
            <li class="nav-item d-block d-sm-block d-md-none d-lg-none">
                <a class="nav-link-item" href="@Url.Action("ChangeLanguage", "Language", new { culture = "fa" })">فارسی</a>
            </li>
            <li class="nav-item d-block d-sm-block d-md-none d-lg-none">
                <a class="nav-link-item" href="@Url.Action("ChangeLanguage", "Language", new { culture = "en" })">English</a>
            </li>
        </ul>
    }
    @section headLogo2
    {
        <img
            alt=""
            class="light-version-logo"
            src="/Images/Logo/@landingPage.Logo"/>
    }
    @section headLogo
    {
        <img
            alt=""
            class="light-version-logo"
            src="/Images/Logo/@landingPage.Logo"/>
    }

    @section HeadNumber
    {
        <a href="tel:02143000107">
            <i class="ri-phone-fill"></i>@landingPage.Number
        </a
        >
    }

    <div
        class="optech-breadcrumb"
        style="background-image: url(/landing/assets/images/breadcrumb/breadcrumb.png)">
        <div class="container">
            <h1 class="post__title">تماس با ما</h1>
            <nav class="breadcrumbs">
                <ul>
                    <li>
                        <a href="@Url.Action("Index", "Home")">خانه</a>
                    </li>
                    <li aria-current="page">تماس با ما</li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="section optech-section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex align-items-center">
                    <div class="optech-default-content mr40">
                        @Html.Raw(page1.Desc)
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="optech-main-form bg-light1 ml60 aos-init aos-animate" data-aos="fade-up" data-aos-duration="800">
                        <h3>فرم تماس را پر کنید</h3>
                        <p>با ما تماس بگیرید</p>
                        <form asp-action="SendMessage" asp-controller="Home" method="post">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="optech-main-field">
                                        <input placeholder="نام شما" type="text" name="name">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="optech-main-field">
                                        <input placeholder="شماره تلفن" type="number" name="number">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="optech-main-field">
                                        <input placeholder="آدرس ایمیل" type="email" name="email">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="optech-main-field">
                                        <textarea name="desc" placeholder="پیام خود را بنویسید"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <button data-text="ارسال پیام"  class="btn btn-info"  type="submit">
                                        <span class="btn-wraper">ارسال پیام</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    @section meta
    {
        <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"/>
        <meta name="description" content=@Html.Raw(page1.SeoTitleEn).ToString()/>
        <link rel="canonical" href=@Html.Raw(page1.SeoCanonical).ToString()/>
        <meta property="og:locale" content="fa_IR"/>
        <meta property="og:type" content="website"/>
        <meta property="og:title" content=@Html.Raw(page1.SeoTitleEn).ToString()/>
        <meta property="og:description" content=@Html.Raw(page1.SeoDescEn).ToString()/>
        <meta property="og:url" content="https://parsme.com"/>
        <meta property="og:site_name" content=@Html.Raw(page1.SeoTitleEn).ToString()/>
        <meta property="og:image:width" content="1200"/>
        <meta property="og:image:height" content="760"/>
        <meta property="og:image:type" content="image/jpeg"/>
    }
    @section DescCart
    {
        <p>
            @landingPage.DescCartEn
        </p>
    }

    @section Header
    {
        <ul class="site-menu-main">
            @{
                foreach (var i in categories)
                {
                    string id = "submenu-" + i.Id;
                    if (i.Pages.Count > 1)
                    {
                        <li class="nav-item nav-item-has-children">
                            <a
                                class="nav-link-item drop-trigger"
                                href="@i.Href">
                                @i.TitleEn
                                <i class="ri-arrow-down-s-fill">
                                </i
                                >
                            </a>
                            <ul class="sub-menu" id="@id">

                                @foreach (var q in i.Pages)
                                {
                                    <li class="sub-menu--item">
                                        <a href="@q.HrefEn">
                                            <span class="menu-item-text">
                                                @q.TitleEn
                                            </span
                                            >
                                        </a>
                                    </li>
                                }
                            </ul>

                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link-item" href="@i.Href">@i.TitleEn</a>
                        </li>
                    }
                }
            }
            <li class="nav-item d-block d-sm-block d-md-none d-lg-none">
                <a class="nav-link-item" href="@Url.Action("ChangeLanguage", "Language", new { culture = "fa" })">فارسی</a>
            </li>
            <li class="nav-item d-block d-sm-block d-md-none d-lg-none">
                <a class="nav-link-item" href="@Url.Action("ChangeLanguage", "Language", new { culture = "en" })">English</a>
            </li>
        </ul>
    }
    @section headLogo2
    {
        <img
            alt=""
            class="light-version-logo"
            src="/Images/Logo/@landingPage.Logo"/>
    }
    @section headLogo
    {
        <img
            alt=""
            class="light-version-logo"
            src="/Images/Logo/@landingPage.Logo"/>
    }

    @section HeadNumber
    {
        <a href="tel:02143000107">
            <i class="ri-phone-fill"></i>@landingPage.Number
        </a
        >
    }

    <div
        class="optech-breadcrumb"
        id="pagetitle">
        <div class="container">
            <h1 class="post__title">contact us</h1>
            <nav class="breadcrumbs">
                <ul>
                    <li>
                        <a href="@Url.Action("Index", "Home")">home</a>
                    </li>
                    <li aria-current="page">contact us</li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="section optech-section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex align-items-center">
                    <div class="optech-default-content mr40">
                        @Html.Raw(page1.DescEn)
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="optech-main-form bg-light1 ml60 aos-init aos-animate" data-aos="fade-up" data-aos-duration="800">
                        <h3>Fill out the contact form</h3>
                        <p>contact us</p>
                        <form asp-action="SendMessage" asp-controller="Home" method="post">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="optech-main-field">
                                        <input placeholder="name" type="text" name="name">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="optech-main-field">
                                        <input placeholder="number" type="number" name="number">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="optech-main-field">
                                        <input placeholder="email" type="email" name="email">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="optech-main-field">
                                        <textarea name="desc" placeholder="message"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <button data-text="submit" class="btn btn-info" type="submit">
                                        <span class="btn-wraper">submit</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End breadcrumb -->
}