@using Dal.Entity
@{
    Layout = "_Layout";
    List<Category> categories = ViewBag.Cats;
    SubPage page1 = ViewBag.Page;
}

@section meta
{
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"/>
    <meta name="description" content=@Html.Raw(page1.SeoTitle).ToString()/>
    <link rel="canonical" href=@Html.Raw(page1.SeoCanonical).ToString()/>
    <meta property="og:locale" content="fa_IR"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content=@Html.Raw(page1.SeoTitle).ToString()/>
    <meta property="og:description" content=@Html.Raw(page1.SeoDesc).ToString()/>
    <meta property="og:url" content="https://parsme.com"/>
    <meta property="og:site_name" content=@Html.Raw(page1.SeoTitle).ToString()/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="760"/>
    <meta property="og:image:type" content="image/jpeg"/>
}

@section Header
{
    <ul class="site-menu-main">
        @{
            foreach (var i in categories)
            {
                string id = "submenu-" + i.Id;
                if (i.Pages.Count > 1)
                {
                    <li class="nav-item nav-item-has-children">
                        <a
                            class="nav-link-item drop-trigger"
                            href="@i.Href">
                            @i.Title
                            <i class="ri-arrow-down-s-fill">
                            </i
                            >
                        </a>
                        <ul class="sub-menu" id="@id">

                            @foreach (var q in i.Pages)
                            {
                                <li class="sub-menu--item">
                                    <a href="@q.Href">
                                        <span class="menu-item-text">
                                            @q.Title
                                        </span
                                        >
                                    </a>
                                </li>
                            }
                        </ul>

                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link-item" href="@i.Href">@i.Title</a>
                    </li>
                }
            }
        }
    </ul>
}

<div
    class="optech-breadcrumb"
    style="background-image: url(./landing/assets/images/breadcrumb/breadcrumb.png)">
    <div class="container">
        <h1 class="post__title">@page1.Title</h1>
        <nav class="breadcrumbs">
            <ul>
                <li>
                    <a href="@Url.Action("Index", "Home")">خانه</a>
                </li>
                <li aria-current="page">@page1.Title</li>
            </ul>
        </nav>
    </div>
</div>
<!-- End breadcrumb -->
<div class="section optech-section-padding">
    <div class="container">
        <div class="row">
            @Html.Raw(page1.Desc)
        </div>
    </div>
</div>