@using Dal.Entity
@{
    Layout = "_LayoutAdmin";
    List<User> users = ViewBag.Users;
    List<Brand> brands = ViewBag.Brands;
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">داشبورد</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index")">خانه</a>
                    </li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class=" col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3> @users.Count</h3>
                        <p>کاربران </p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a href="@Url.Action("ManageUser")" class="small-box-footer">اطلاعات بیشتر <i class="fa fa-arrow-circle-left"></i></a>
                </div>
            </div>
            <div class=" col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>@ViewBag.subPage</h3>
                        <p>صفحات </p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                    <a href="@Url.Action("SubPage")" class="small-box-footer">اطلاعات بیشتر <i class="fa fa-arrow-circle-left"></i></a>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
        </div>
        <div class="row connectedSortable">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">آخرین اعضا</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-widget="remove">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <ul class="users-list clearfix">
                            @{
                                foreach (var i in users)
                                {
                                    <li>
                                        <img src="/Images/man.png" alt="User Image">
                                        <a class="users-list-name mt-2" href="#">@i.Name @i.Family</a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                    <div class="card-footer text-center">
                        <a href="@Url.Action("ManageUser")">مشاهده همه کاربران</a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">برند ها</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-widget="remove">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <ul class="products-list product-list-in-card pl-2 pr-2">
                            @{
                            foreach (var i in brands)
                            {
                            <li class="item">
                                <div class="product-img">
                                    <img src="/Images/brand/@i.Logo" alt="Product Image" class="img-size-50">
                                </div>
                                <div class="product-info">
                                    <a  class="product-title">
                                        @i.Title
                                    </a>
                              
                                </div>
                            </li>
                            }
                            }

                        </ul>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer text-center">
                        <a href="@Url.Action("Brand", "Admin")" class="uppercase fs-5">نمایش همه </a>
                    </div>
                    <!-- /.card-footer -->
                </div>
            </div>
        </div>
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>