@using Dal.Entity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_LayoutAdmin";
    LandingPage subPages = ViewBag.SubPages;
}

@section link
{
    <style>
    .modal{
        top: 80px;
    }
</style>
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">مدیریت محتوا خدمات </h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Admin")">خانه</a>
                    </li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">

            <!-- /.col -->
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header p-2 d-flex justify-content-start">
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a class="nav-link active show" href="#activity" data-toggle="tab">صفحات سایت</a>
                            </li>
                        </ul>

                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active show" id="activity">

                            </div>
                            <div class="card mt-3">

                                <div class="card-body p-0">
                                    <table class="table table-condensed">
                                        <tbody>
                                        <tr>
                                            <th class="text-center" style="width: 5%">id</th>
                                            <th class="text-center" style="width: 25%">عنوان فارسی</th>
                                            <th class="text-center" style="width: 25%">عنوان انگلیسی</th>
                                            <th class="text-center" style="width: 35%">لوگو</th>
                                            <th class="text-center" style="width: 10%">#</th>
                                        </tr>

                                        <tr>
                                            <td class="text-center">1</td>
                                            <td class="text-center">@subPages.ServiceTitle1</td>
                                            <td class="text-center">@subPages.ServiceTitle1En</td>
                                            <td class="text-center">
                                                <img src="/Images/Logo/@subPages.ServiceLogo1"  width="44px"/>
                                            </td>
                                            <td class="text-center">
                                                <form>
                                                    <a class="badge bg-warning text-muted " href="@Url.Action("ServiceDetail", "Admin", new { id = 1 })">مشاهده</a>
                                                </form>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">2</td>
                                            <td class="text-center">@subPages.ServiceTitle2</td>
                                            <td class="text-center">@subPages.ServiceTitle2En</td>
                                            <td class="text-center">
                                                <img src="/Images/Logo/@subPages.ServiceLogo2" width="44px"/>
                                            </td>
                                            <td class="text-center">
                                                <form>
                                                    <a class="badge bg-warning text-muted " href="@Url.Action("ServiceDetail", "Admin", new { id = 2 })">مشاهده</a>
                                                </form>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">3</td>
                                            <td class="text-center">@subPages.ServiceTitle3</td>
                                            <td class="text-center">@subPages.ServiceTitle3En</td>
                                            <td class="text-center">
                                                <img src="/Images/Logo/@subPages.ServiceLogo3" width="44px"/>
                                            </td>
                                            <td class="text-center">
                                                <form>
                                                    <a class="badge bg-warning text-muted " href="@Url.Action("ServiceDetail", "Admin", new { id =3 })">مشاهده</a>
                                                </form>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                        </div>
                    </div><!-- /.card-body -->
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>


@section script{

    <script>


    $('#Image').on('change', function(event) {
        var input = event.target;
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                $('#LogoEdit').attr('src', e.target.result).show();
            }
            reader.readAsDataURL(input.files[0]);
        }
    });
</script>

}