@using Dal.Entity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
Layout = "_LayoutAdmin";
List<SubPage> subPages = ViewBag.SubPages;
}

@section link
{
<style>
    .modal{
        top: 80px;
    }
</style>
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">مدیریت محتوا صفحات </h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Admin")">خانه</a>
                    </li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">

            <!-- /.col -->
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header p-2 d-flex justify-content-start">
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a class="nav-link active show" href="#activity" data-toggle="tab">صفحات سایت</a>
                            </li>
                        </ul>
                        <div class="list-group list-group-unbordered mb-3 d-flex flex-row justify-content-center gap-5 m-3">
                            <div>
                                <b class="p-3">تعداد صفحات</b> <a class="float-left"> @subPages.Count()</a>
                            </div>
                        </div>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active show" id="activity">

                            </div>
                            <div class="card mt-3">

                                <div class="card-body p-0">
                                    <table class="table table-condensed">
                                        <tbody>
                                        <tr>
                                            <th class="text-center" style="width: 5%">id</th>
                                            <th class="text-center" style="width: 45%">عنوان</th>
                                            <th class="text-center" style="width: 40%">دسته بندی</th>
                                            <th class="text-center" style="width: 10%">#</th>
                                        </tr>
                                        @{
                                        if (subPages.Count < 1)
                                        {
                                        <tr>
                                            <td> </td>
                                            <td> </td>
                                            <td class="text-center">
                                                یافت نشد

                                            </td>
                                        </tr>
                                        }
                                        else
                                        {
                                        foreach (var i in subPages)
                                        {
                                        <tr>
                                            <td class="text-center">@i.Id</td>
                                            <td class="text-center">@i.Title</td>
                                            <td class="text-center">@i.Category.Title</td>
                                            <td class="text-center">
                                                <form>
                                                    <a class="badge bg-warning text-muted " href="@Url.Action("SubPageDetail", "Admin", new { @i.Id })">مشاهده</a>
                                                </form>
                                            </td>
                                        </tr>
                                        }
                                        }
                                        }
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                        </div>
                    </div><!-- /.card-body -->
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>


@section script{

<script>

 
    $('#Image').on('change', function(event) {
        var input = event.target;
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                $('#LogoEdit').attr('src', e.target.result).show();
            }
            reader.readAsDataURL(input.files[0]);
        }
    });
</script>

}